:root {
    --primary: #0d9488;
    --primary-inverse: #FFF; 
    --secondary: #1e293b
     }
.hero { padding: 3rem 0; text-align: center; }
.price-card { border: 1px solid #b8b8b8; padding: 5%; border-radius: 8px; }

button, .primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--primary-inverse);
}
button, .secondary{
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--primary-inverse);
}

a {
    color: var(--primary);
}

.marken-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-bottom: 1rem;
}

:focus {
    outline: 4px solid var(--secondary) !important;
    outline-offset: 4px;
}

body {
    line-height: 1.6;
    font-size: 1.1rem;
}